.card {
    width: 100%;
    height: 500px;
    margin-top: 15px;
    background-color: white;
}

.card .user {
    height: 70px;
    display: flex;
    align-items: center;
}

.card .user .avatar {
    height: 70px;
}

.card .user .avatar img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 15px;
    margin-top: 15px;
    object-fit: cover;
}

.card .user .user-data {
    margin-left: 15px;
    margin-top: 15px;
}

.card .user .user-data .name{
    font-size: 17px;
    font-weight: bold;
}

.card .user .user-data .time{
    color: rgb(194, 190, 190);
}

.card .description {
    height: 40px;
}

.card .description p{
    margin-left: 10px;
}

.card .photo {
    height: 300px;
}

.card .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .actions {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .actions .likes {
    margin-left: 15px;
}

.card .actions .comments-c {
    margin-right: 15px;
}

.form-post{
    width: 100%;
    height: 400px;
    margin-top: 20px;
    background-color: white;
}
.form-post textarea{
    width: 98%;
    height: 40px;
}
.form-post img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.actions-b{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.comments{
    margin-top: 10px;
    width: 100%;
    background-color: white;
    padding: 10px 0;
}

.comments .form-comment{
    width: 94%;
    margin: 0 auto;
}
.comments .form-comment input{
    width: 90%;
    height: 24px;
    margin-bottom: 10px;
}
.comments .form-comment i{
    margin-top: -8px;
}

.comment{
    width: 94%;
    margin: 0 auto;
    border: 1px dashed rgb(170, 166, 166);
    display: flex;
    height: 60px;
    align-items: center;
}
.c-avatar{
    width: 50px;
    height: 50px;
}
.c-avatar img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.data{
    width: 100%;
    height: 50px;
    margin-left: 5px;
}
.data h4{
    text-align: start;
    margin-top: 0;
    margin-bottom: 0;
    display: inline;
}
.data .time{
    color: rgb(170, 166, 166);
    font-size: 13px;
}
.data .pco{
    text-align: start;
    margin-top: 5px;
}
