.toolbar{
    background-color: #4267b2;
    height: 60px;
    width: 100%;
    display: flex;
    color: white;
}

.toolbar .logo{
    height: 60px;
    width: 50%;
}

.toolbar .logo h3{
    margin-left: 15px;
}

.toolbar .profile{
    height: 60px;
    width: 50%;
    display: flex;
    align-items: center;
}

.toolbar .profile h3{
    margin-left: 64px;
    margin-right: 10px;
}

.toolbar .profile img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.toolbar .profile .login{
    margin-left: 120px;
}
